@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --scrollbar-bg: #f1f1f1; 
    --scrollbar-thumb: #c1c1c1; 
    --scrollbar-thumb-hover: #a1a1a1; 
}

@media (prefers-color-scheme: dark) {
    :root {
        --scrollbar-bg: #334155; 
        --scrollbar-thumb: #0f172a; 
        --scrollbar-thumb-hover: #0f172a; 
    }
}


* {
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
    scrollbar-width: thin;
}


*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}